In [4]:
import pandas as pd

# Load clean dataset
df = pd.read_csv("../player_clean.csv")

df.shape, df.columns

((570, 48),
 Index(['full_name', 'age', 'birthday', 'birthday_gmt', 'league', 'season',
        'position', 'current_club', 'minutes_played_overall',
        'minutes_played_home', 'minutes_played_away', 'nationality',
        'appearances_overall', 'appearances_home', 'appearances_away',
        'goals_overall', 'goals_home', 'goals_away', 'assists_overall',
        'assists_home', 'assists_away', 'penalty_goals', 'penalty_misses',
        'clean_sheets_overall', 'clean_sheets_home', 'clean_sheets_away',
        'conceded_overall', 'conceded_home', 'conceded_away',
        'yellow_cards_overall', 'red_cards_overall',
        'goals_involved_per_90_overall', 'assists_per_90_overall',
        'goals_per_90_overall', 'goals_per_90_home', 'goals_per_90_away',
        'min_per_goal_overall', 'conceded_per_90_overall',
        'min_per_conceded_overall', 'min_per_match', 'min_per_card_overall',
        'min_per_assist_overall', 'cards_per_90_overall',
        'rank_in_league_top_attackers', 'rank_in_league_top_midfielders',
        'rank_in_league_top_defenders', 'rank_in_club_top_scorer',
        'birth_year'],
       dtype='object'))

In [5]:
X = df[["age", "minutes_played_overall",
        "appearances_overall", "assists_overall", "position"]]
y = df["goals_overall"]

X.head()

,age,minutes_played_overall,appearances_overall,assists_overall,position
0,32,1589,20,1,Defender
1,35,1217,16,1,Midfielder
2,32,2327,29,1,Midfielder
3,31,1327,28,6,Midfielder
4,22,69,2,0,Forward

In [6]:
X_encoded = pd.get_dummies(X, columns=["position"], drop_first=True)
X_encoded.head()

,age,minutes_played_overall,appearances_overall,assists_overall,position_Forward,position_Goalkeeper,position_Midfielder
0,32,1589,20,1,False,False,False
1,35,1217,16,1,False,False,True
2,32,2327,29,1,False,False,True
3,31,1327,28,6,False,False,True
4,22,69,2,0,True,False,False

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_encoded, y, test_size=0.2, random_state=42
)

X_train.shape, X_test.shape

((456, 7), (114, 7))

In [12]:
import sklearn
print(sklearn.__version__)

1.7.1

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Step 1: Initialize and train the model
model = LinearRegression()
model.fit(X_train, y_train)

# Step 2: Predict on test set
y_pred = model.predict(X_test)

# Step 3: Evaluate
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mse ** 0.5
r2 = r2_score(y_test, y_pred)

mae, rmse, r2

(1.6107876800630436, 2.161198248940162, 0.5510249318461435)